
body{
    font-family: Arial;
    color: black;
    text-align: center;
    background-color: #f8f9fa;;
} /* trocando a cor do fundo, a fonte, alinhamento do texto no portfolio todo */

nav{
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
} /* Mudando a barrra de navegação pra ficar mais intuitiva */

nav a{
    color:black;
    text-decoration: none;  
    border-radius: 5em;
    border-style: solid;
    border-color: darkgrey;
    padding: 1em;
    margin: 1em;

} /* Ajustando a maneira que as Informações se apresentam dentro da navegação */
nav a:hover {
    color: black;
    border-color: lightblue;
} /* Interação para mudar quando passar o mouse por cima do link */

section {
    margin: 2em;
    padding: 1em;
     border-radius: 1px;
    border-style: solid;
    border-color: darkgrey;
}
footer {
    text-align: left;
    color: black;
    color: gray;
    font-size: 0.9em;
} /* Ajuste do rodapé do site */
.irmas {
width: 30%;
min-width: 150px; 
height: auto;
} /* Ajuste da imagem das minhas irmãs para ficar mais adequada ao enquadramento do site */